{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Add categories{% endblock title %}
{% block contener %}

<div class="page-header">
    <h3 class="page-title"> Add categories </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add categories</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 style="color: black;">Add categories</h4>
                <p>add categories so that you be able to <span style="color: chartreuse;">user it</span> when ever you
                    <span style="color: chartreuse;">add items</span> to the system.
                </p>
                <br>
                <form class="forms-sample" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label for="name-field">Categories :
                                    <br><span style="color: crimson;">{{ form.name.errors }}</span>
                                </label>
                                <input type="text" class="form-control" id="name-field" placeholder="Label" name="name">
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label for="description-field">Description :
                                    <br><span style="color: crimson;">{{ form.description.errors }}</span>
                                </label>
                                <textarea name="description" class="form-control" id="description-field"
                                    placeholder="Description" name="description" rows="3"></textarea>
                            </div>

                        </div>
                    </div>
                    <br>
                    <button class="btn btn-light" style="width: 100px;">Cancel</button>
                    <button type="submit" class="btn btn-primary mr-2" style="width: 100px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contener %}
{% block javascripts %}

{% endblock javascripts %}