{% extends "layouts/base.html" %}
{% block title%}Request list{% endblock title %}
{% block contener %}
<div class="page-header">
    <h3 class="page-title"> Request list</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">Request table</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List Request list</h4>
                <p class="card-description"> To add Request go to <code>add Request</code> in the side bar.
                </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Status </th>
                            <th> Description </th>
                            <th colspan=1 style="text-align: center;"> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in object_list %}
                        <tr>
                            <td class="py-1">{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'Detail_request' pk=request.id %}">
                                    {{ request }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'Detail_request' pk=request.id %}">
                                    {{ request.approved_date }}
                                </a>
                            </td>
                            <td>
                                {% if request.status == "Pending" %}
                                <label class="badge badge-info">Pending</label>
                                {% elif request.status == "Approved"%}
                                <label class="badge badge-success">Approve</label>
                                {% elif request.status == "Declined"%}
                                <label class="badge badge-warning">Declined</label>
                                {% elif request.status == 'Deleted' %}
                                <label class="badge badge-warning">Deleted</label>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'Detail_request' pk=request.id %}">
                                    {{ request.remark }}
                                </a>
                            </td>
                            <td style="display: flex; justify-content: space-around;">
                                <a href="{% url 'Update_request' pk=request.id %}">
                                    <!-- <i class="mdi mdi-lead-pencil">Edit</i> -->
                                    <!-- <i class="mdi mdi-pencil">Edit</i> -->
                                    <i class="mdi mdi-pencil-outline"></i> Edit
                                </a>
                                {% if request.status != "Approved" %}
                                <a href="{% url 'Approve_request' pk=request.id %}">
                                    <!-- <i class="mdi mdi-lead-pencil">Edit</i> -->
                                    <!-- <i class="mdi mdi-pencil">Edit</i> -->
                                    <i class="mdi mdi-check"></i> Approve
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contener %}