{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Add Shelf{% endblock title %}
{% block contener %}

<div class="page-header">
    <h3 class="page-title"> Add Shelf </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Shelf</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Shelf</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 style="color: black;">Add Shelf</h4>
                <br>
                <form class="forms-sample" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label for="name-field"><strong style="color: black;">Shalf name :</strong>
                                    <span style="color: crimson;">{{ form.name.errors }}</span>
                                </label>
                                <input type="text" value="{{form.name.value}}" class="form-control" id="name-field"
                                    placeholder="Name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="store-field"><strong style="color: black;">Store :</strong>
                                    <span style="color: crimson;">{{ form.store.errors }}</span>
                                </label>
                                <select class="form-control" id="store-field" name="store">

                                    {% for store in stores %}
                                    {% if form.store.value == store.id %}
                                    <option selected value="{{ store.id }}">{{ store.id }} {{ store }}</option>
                                    {% else %}
                                    <option value="{{ store.id }}">{{ store.id }} {{ store }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="max_capacity-field"><strong style="color: black;">Max Capacity :</strong>
                                    <span style="color: crimson;">{{ form.max_capacity.errors }}</span>
                                </label>
                                <input type="text" value="{{form.max_capacity.value}}" class="form-control"
                                    id="max_capacity-field" placeholder="Max Capacity" name="max_capacity">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label for="description-field"><strong style="color: black;">Description :</strong>
                                    <span style="color: crimson;">{{ form.description.errors }}</span></label>
                                <textarea name="description" value="{{form.description.value}}" class="form-control"
                                    id="description" rows="10" id="description-field"
                                    placeholder="Description">{{ form.description.value }}</textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contener %}
{% block javascripts %}

{% endblock javascripts %}