{% extends "layouts/base.html" %}
{% block title%}Measurements{% endblock title %}
{% block contener %}
<div class="page-header">
    <h3 class="page-title"> Measurements Table</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">Measurements table</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List measurements table</h4>
                <p class="card-description"> To add measurement go to <code>add measurement</code> in the side bar.
                </p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Name </th>
                            <th> Description </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for measurement in object_list %}
                        <tr>
                            <td class="py-1">{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'Detail_measurement' pk=measurement.id %}">
                                    {{ measurement.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'Detail_measurement' pk=measurement.id %}">
                                    {{ measurement.description }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'Update_measurement' pk=measurement.id %}">
                                    <!-- <i class="mdi mdi-lead-pencil">Edit</i> -->
                                    <!-- <i class="mdi mdi-pencil">Edit</i> -->
                                    <i class="mdi mdi-pencil-outline"></i> Edit
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contener %}