{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Add Item{% endblock title %}
{% block contener %}

<div class="page-header">
    <h3 class="page-title"> Add Items </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 style="color: black;">Add Measurement</h4>
                <p>add Measurement so that you be able to <span style="color: chartreuse;">user it</span> when ever you
                    <span style="color: chartreuse;">add items</span> to the system.
                </p>
                <br>
                <form class="forms-sample" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label for="name-field"><strong style="color: black;">Label of the Measurement
                                        :</strong><br>(like width,radies...etc)
                                    <span style="color: crimson;">{{ form.name.errors }}</span>
                                </label>
                                <input type="text" class="form-control" id="name-field" value="{{ form.name.value }}"
                                    name="name">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <div class="form-group">
                                <label for="description-field"><strong style="color: black;">Description :</strong>
                                    <span style="color: crimson;">{{ form.description.errors }}</span></label>
                                <textarea name="description" class="form-control" id="description-field"
                                    name="description" value="{{ form.description.value }}"
                                    rows="3">{{ form.description.value }}</textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contener %}
{% block javascripts %}{% endblock javascripts %}